/* section:nth-child(-n + 1) {
    background-color: #ededed;
} */
main {
    background-color: #ededed;
}
.bg-w100 {
    background: url(../assets/photos/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
}
#recipe-search {
    margin-bottom: 173px;
}
.hero-font {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1.hero-font {
    letter-spacing: 0.1rem;
    color: #ffd15b;
}
@media (min-width: 1024px) {
    h1.hero-font {
        line-height: 4rem;
    }
}
.card-title.hero-font {
    font-size: 18px;
}
h3.card-subtitle {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #7a7a7a;
}
.card-recipes p {
    font-size: 14px;
}
.card-text {
    line-height: 19px;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    /* 4 line (19px* 4) + half font-size (8px) */
    max-height: 84px;
}
.card-time {
    font-size: 12px;
    top: 22px;
    right: 22px;
    background-color: #ffd15b;
}

.card-recipes img {
    height: 253px;
}
.search-button {
    background-color: #1b1b1b;
    padding: 0.7rem;
    top: 12px;
    right: 23px;
}
.search-button:hover {
    background-color: #ffd15b;
}
.search-button_icon {
    stroke: white;
}

.search-button.search-button_icon:hover {
    stroke: black;
}

/* .bg-white {
    background-color: #fff;
} */
#dropdown-ingredients::after {
    content: none;
}
#dropdown-appareils::after {
    content: none;
}
#dropdown-ustensiles::after {
    content: none;
}
/* .dropdown-arrow {
    margin-left: 63px;
}
.dropdown-all {
    gap: 63px;
} */
.search-bar_icons {
    top: 12px;
    right: 10px;
}
.search-bar_icons .btn-close {
    width: 6px;
    height: 6px;
    margin: 0px 10px;
    /* border-radius: 0px; */
    padding: 0px;
    background-image: url(../assets/icons/Close.svg);
}
