.bg-w100 {
    background: url(../assets/photos/hero-bg.png);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
    background-attachment: local;
}
.hero-font {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    color: #ffd15b;
}
.search-button {
    background-color: #1b1b1b;
    padding: 0.7rem;
    top: 12px;
    right: 23px;
}
.search-button:hover {
    background-color: #ffd15b;
}
.search-button_icon {
    stroke: white;
}

.search-button.search-button_icon:hover {
    stroke: black;
}

/* .bg-white {
    background-color: #fff;
} */
