main {
    background-color: #ededed;
}
.bg-w100 {
    background: url(../assets/photos/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
}
#recipe-search {
    margin-bottom: 173px;
}
.hero-font {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1.hero-font {
    letter-spacing: 0.1rem;
    color: #ffd15b;
}
@media (min-width: 1024px) {
    h1.hero-font {
        line-height: 4rem;
    }
}
.dropdown-tag .col {
    background-color: #ffd15b;
    max-width: fit-content;
}
.dropdown-tag .btn-close {
    background-size: 60%;
    padding: 0;
}

.dropdown-tag p {
    margin-right: 60px;
}
.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    border-bottom: none;
}
.accordion-collapse {
    font-size: 14px;
    height: 20rem;
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-end-end-radius: 0.375rem;
}
.list_selected:empty,
.dropdown-tag:empty {
    display: none;
    /* margin: 0; */
    /* padding: 0; */
}
.list_unselected,
.list_selected {
    margin-left: -1.25rem;
    margin-right: -1.25rem;
}
.list_unselected li,
.list_selected li {
    padding: 6px 20px;
    cursor: pointer;
    user-select: none;
}
.list_selected li {
    background-color: #ffd15b;
    margin-bottom: 2px;
}
.list_selected li:hover > p {
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_selected .btn-close {
    background-image: url(../assets/icons/Close-list.svg);
    opacity: 0;
}
/* Select all btn-close of the parent (li:hover) */
.list_selected li:hover > .btn-close {
    opacity: 1;
}
.card-title.hero-font {
    font-size: 18px;
}
h3.card-subtitle {
    font-size: 12px;
    letter-spacing: 1.2px;
    color: #7a7a7a;
}
.card-recipes p {
    font-size: 14px;
}
.card-text {
    line-height: 19px;
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: clip;
    /* 4 line (19px* 4) + half font-size (8px) */
    max-height: 84px;
}
.card-time {
    font-size: 12px;
    top: 22px;
    right: 22px;
    background-color: #ffd15b;
}

.card-recipes img {
    height: 253px;
}
.search-button {
    background-color: #1b1b1b;
    padding: 0.7rem;
    top: 12px;
    right: 23px;
}
.search-button:hover {
    background-color: #ffd15b;
}
.search-button_icon {
    stroke: white;
}

.search-button.search-button_icon:hover {
    stroke: black;
}

/* .bg-white {
    background-color: #fff;
} */
/* #dropdown-ingredients::after {
    content: none;
}
#dropdown-appareils::after {
    content: none;
}
#dropdown-ustensiles::after {
    content: none;
} */
/* .dropdown-arrow {
    margin-left: 63px;
}
.dropdown-all {
    gap: 63px;
} */
.search-bar_icons {
    top: 12px;
    right: 10px;
}
.search-bar_icons .btn-close {
    width: 6px;
    height: 6px;
    margin: 0px 10px;
    /* border-radius: 0px; */
    padding: 0px;
    background-image: url(../assets/icons/Close.svg);
}
